services:
  - type: web
    name: video-uniquifier-api
    env: docker
    region: frankfurt
    plan: starter
    dockerfilePath: ./Dockerfile
    envVars:
      - key: FLASK_ENV
        value: production
      - key: PORT
        value: 10000
